<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Wicked Coolkit</title>
    <meta
      name="description"
      content="A fun, nostalgic web toolkit built on Heroku and Salesforce."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/resources/favicon.ico" />
    <link rel="stylesheet" href="/resources/reset.css" />
    <link rel="stylesheet" href="/resources/trading-card.css" />
    <script src="/resources/vendor/clipboard.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/wicked-coolkit/dist/tradingCard.js"
    ></script>
  </head>
  <body>
    <div id="main">
      <nav>
        <h1><a href="/getting-started">Developer Trading Card</a></h1>
        <a href="https://wickedcoolkit.com" class="home">wickedcoolkit.com</a>
      </nav>
      <div id="trading-card">
        <wck-trading-card></wck-trading-card>
        <a href="#" id="tweet-button">Tweet</a>
        <button id="share-button">Share URL</button>
      </div>
    </div>
    <script src="/resources/trading-card.js"></script>
  </body>
</html>
