<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Developer Trading Card</title>
    <meta
      name="description"
      content="Check out my developer trading card, built with Wicked Coolkit."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/resources/favicon.ico" />
    <link rel="stylesheet" href="/resources/reset{{dotMin}}.css" />
    <link rel="stylesheet" href="/resources/trading-card{{dotMin}}.css" />
    <script src="/resources/vendor/clipboard.js"></script>
  </head>
  <body>
    <div id="main">
      <nav>
        <h1><a href="/getting-started">Developer Trading Card</a></h1>
        <a href="https://wickedcoolkit.com" class="home">wickedcoolkit.com</a>
      </nav>
      <div id="trading-card">
        <wck-trading-card></wck-trading-card>
        <footer>
          <a href="#" id="tweet-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="15"
              height="15"
              viewBox="0 0 15 15"
            >
              <path
                d="M13.94 3.56a5.35 5.35 0 0 1-1.54.38 2.67 2.67 0 0 0 1.15-1.47 5.34 5.34 0 0 1-1.66.64A2.77 2.77 0 0 0 10 2.34 2.6 2.6 0 0 0 7.34 5a1.94 1.94 0 0 0 .06.58A7.41 7.41 0 0 1 2 2.86a2.34 2.34 0 0 0-.38 1.28 2.58 2.58 0 0 0 1.17 2.17A2.5 2.5 0 0 1 1.64 6v.07a2.61 2.61 0 0 0 2.11 2.55 2.5 2.5 0 0 1-.7.06 1.49 1.49 0 0 1-.51-.06A2.56 2.56 0 0 0 5 10.41a5.31 5.31 0 0 1-3.3 1.15 2.35 2.35 0 0 1-.64-.06 7.28 7.28 0 0 0 4 1.15 7.31 7.31 0 0 0 7.56-7.36V5a7.16 7.16 0 0 0 1.32-1.44z"
                fill="#1e1e60"
              ></path>
            </svg>
            <span>Share on Twitter</span>
          </a>
          <button id="share-button">Copy URL</button>
        </footer>
      </div>
    </div>
    <script async type="module" src="{{cdn}}/tradingCard.js"></script>
    <script src="/resources/trading-card{{dotMin}}.js"></script>
  </body>
</html>
