body {
  background-color: #f6f0e2;
  font-size: 100%;
  font-family: 'Courier New', Courier, serif;
  font-weight: bold;
  color: #1e1e60;
}

nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #79589f, #009edb);
  border-bottom: 2px solid #1e1e60;
  color: #f6f0e2;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

nav h1 {
  padding: 7px 5px 5px 15px;
}

nav a.home {
  padding: 7px 15px 5px;
  color: #f6f0e2;
  background-color: #323029;
}

#trading-card {
  padding: 10px;
  height: calc(100vh - 80px);
  display: grid;
  align-items: center;
}

