body {
  background-color: #f6f0e2;
  font-size: 100%;
  font-family: 'Courier New', Courier, serif;
  font-weight: bold;
  color: #1e1e60;
}

nav {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(45deg, #79589f, #009edb);
  border-bottom: 2px solid #1e1e60;
  color: #f6f0e2;
}

nav a {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
}

nav h1 {
  padding: 7px 5px 5px 15px;
}

nav a.home {
  padding: 7px 15px 5px;
  color: #f6f0e2;
  background-color: #323029;
  font-size: 90%;
}

#trading-card {
  padding: 10px;
  min-height: calc(100vh - 40px);
  display: grid;
  align-items: center;
}

footer {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  align-self: end;
  font-size: 90%;
}

#tweet-button {
  text-decoration: none;
  color: #1e1e60;
  display: flex;
  align-items: center;
}

#tweet-button:hover span {
  text-decoration: underline
}

#tweet-button svg {
  margin-right: 5px;
}

#share-button {
  margin-left: 20px;
  padding-left: 23px;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 100%;
  font-family: 'Courier New', Courier, serif;
  font-weight: bold;
  color: #1e1e60;
  cursor: pointer;
}

#share-button:before,
#share-button:after {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  display: block;
  background-color: #f6f0e2;
  border: 2px solid #1e1e60;
}

#share-button:before {
  left: 1px;
  top: 1px;
}

#share-button:after {
  left: 6px;
  top: 6px;
}

#share-button:focus:not(:focus-visible) {
  outline: none;
}

#share-button:hover {
  text-decoration: underline;
}
